<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li>Emmanuel Adiba</li>
      <li>Israel Anamoo</li>
    </ul>
    <div class="add-members-container">
      <input type="text" name="" #addMemberInput
      placeholder="Name" (input)="onInput(addMemberInput.value)">
      <button (click)="addMember()">Add</button>
    </div>
    <div class="generate-teams-container">
      <input type="text" name="" id="" placeholder="# of teams">
      <button>Generate</button>
    </div>
  </div>
</div>