<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input type="text" name="" #addMemberInput
      placeholder="Name" (input)="onInput(addMemberInput.value)"
      [value]="newMemberName"
      >
      <button (click)="addMember()">Add</button>
    </div>
    <div class="generate-teams-container">
      <input type="text" name="" #numberOfTeamsInput
      placeholder="# of teams" (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
      [value]="numberOfTeams">
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>
</div>